@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 99%;
}

html{
    --vermelho: #f27776;
    --vermelho-primario:hsl(0, 100%, 74%);
    --roxo: #6055a5;
    --cinza: #bcb9d4;
    --primary-green: hsl(154, 59%, 51%);

    font-size: 62.5%;
}

body {
    background-image: url("images/bg-intro-desktop.png");
    background-color: var(--vermelho);
}

#conteine{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

/* inicio: Parte esquerda de dentro do conteiner */
#tests {
    width: 43rem;
} 

#title, #titleSub {
    color: #fff;
}

#title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

#titleSub {
    font-size: 1.8rem;
}

/* fim da parte esquerda */

/* início: Campo de verificação na direita */

.column{
    display: flex;
    flex-direction: column;
}

#bar-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 2rem;
    width: auto;
    height: 5.8rem;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--roxo);
    font-size: 2rem;

    color: white;    
}

#bar-ad #shadow02:hover {
    opacity: 1;
}

#shadow02 {
    opacity: 0;
    position: absolute;
    z-index: 999;
    right: 90px;
    width: min(561px, 90vw);
    height: 5.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#offer {
    position: relative;
    top: -12px;
}

#bar-ad::after {
    display: block;
    margin-bottom: -47px;
    top: 124px;
    right: 90px;
    width: min(561px, 90vw);
    height: 12px;
    border-top-left-radius: -0.9rem;
    border-top-right-radius: -0.9rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    content: "";
    background-color: rgba(0,0,0,0.5);
}

#area-submit::after {
    display: block;
    position: relative;

    top: -32px;
    width: min(45rem, 100%);
    height: .5rem;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    content: "";

    background-color: rgba(0,0,0,0.5);
}

#area-submit #shadow:hover {
    opacity: 1;
}

#shadow {
    opacity: 0;
    position: absolute;
    width: 45rem;
    height: 3.8rem;
    background-color: rgba(0, 0, 0, 0.1);
    width: min(45rem, 74%);
}

form {
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 1rem;

    width: min(561px, 90vw);
    min-height: 42.8rem;
    padding: 4.8rem;
}

.area {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.6rem;
}

.area-inputs {
    display: flex;
    justify-content: center;
    align-items: center;

    width: min(465px, 103%);
    height: 4.8rem;
 
    border: 1px solid var(--cinza);
    border-radius: 0.5rem;
}

.area-inputs:hover {
    
    border: 1px solid black;
}

input {
    font-weight: bolder;
    font-size: 1.6rem;
    outline: none;
    width: 45rem;
}

input::placeholder {
    font-size: 1.5rem;
    padding-left: 1.5rem;
}

.icon-erro {
    display: none;
    margin-right: 2rem;
}

.erro {
    border-width: 2px;
    border-color: var(--vermelho-primario);
}

.erro:hover {
    border: 1px solid var(--vermelho-primario);
}

.menssage {
    display: none;
    padding-right: 0.25rem;
    margin-top: 0.5rem;
    color: var(--vermelho-primario);

    font-style: italic;
    align-self: flex-end;
}

#area-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#massange-text {
    margin-top: 1.6rem;
    font-size: 1.4rem
}

#menssage-orientation {
    color: var(--cinza);
}

#menssage-term {
    color: var(--vermelho-primario);
}

input[type="submit"] {
    color: #fff;
    padding: 1rem;
    background-color: var(--primary-green);
    width: min(45rem, 100%);
}

/* fim: do campo de verificação na direita */

/* responsividade */

@media screen and (max-width: 769px){

    html, body {
        width: 100vw;
        height: auto;
    }

    body {
        background-image: url(images/bg-intro-mobile.png);
    }

    #conteine{
        display: flex;
        flex-direction: column;
    }

    form {
        margin-bottom: 2rem;
    }

    #bar-ad {
        margin-bottom: 5rem;
        width: min(561px, 90vw);
    }

    #shadow02 {
        right: inherit;
        right: 20px;
    }

    #title {
        text-align: center;
    }

    #titleSub {
        font-size: clamp(20px, 1vw, 2.8rem);
        margin-bottom: 4rem;
    }

    footer{
        text-align: center;

        border-top: 100px solid black;
        
    }
    
}


@media screen and (max-width: 500px) {
    #area-submit::after {
        top: -48px;
    }

    #shadow02 {
        right: 10px;
    }

    #shadow {
        width: min(45rem, 73%);
    }

    body {
        background-image: url(images/bg-intro-mobile.png);
    }

    form {
        margin-bottom: 2rem;
    }

}


/*  */